.app {
     /* Add app styles here */
}

.colorcell {
    border-radius: 3px;
    /* border: 2px solid blue; */
}

feature {
    border-radius: 3px;
    /* border: 2px solid blue; */
}

.dependencies {
    background-color: rgb(238, 238, 238);
}

.warning {
    background-color: rgb(250, 210, 0);
}

.error {
    background-color: rgb(246, 99, 73);
    color: rgb(253, 253, 253);
}